<div class="modal fade" role="dialog">
	<div class="modal-dialog modal-lg">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="panel panel-default">
				<div class="modal-header panel-heading  d-flex justify-content-between">
					<h3>Password Reset</h3>
					<button type="button" class="close" ng-click="close(undefined)">&times;</button>
					</h4>
				</div>
			</div>
			<div class="modal-body" style="height: auto; overflow-y: auto; overflow-x: hidden;">
					<div class="row">
                        <div class="col-md-12">
                            <label for="userName">Password</label>
                            <input ng-change="removePassword()" required type="password" ng-model="customer.password" id="userName"
                                class="form-control input-sm chat-input" placeholder="Password" />
                        </div>
                        <div class="col-md-12 mt-2">
                            <label for="userPassword">Confirm Password</label>
                            <input ng-change="removePassword()" type="password" ng-model="password" id="userPassword"
                                class="form-control input-sm chat-input" placeholder="Confirm Password" />
                        </div>
                        <div class="col-md-12">
                            <p ng-if="password != '' && password != customer.password" style="color: #7c0a02">Password unmatch!
                            </p>
                        </div>
                      
                        <p ng-if="error" style="color: #7c0a02">Password must include (one alphabet, One uppercase letter, One lowercase letter, One number, One Special Character, minimum 8 characters and maximum 128 characters)</p>
					</div>
                    
			</div>
			<div class="modal-footer">
				<div class="row">
					<div class="col-md-12 form-group" >
						<input type="submit" title="Reset Password" value="Reset Password"  ng-click="ResetPassword()" class="btn btn-success pull-right">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
