<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <title>Intrepidcs Quotes</title>
</head>
<body class="container">
<p>Link expired, you already set your password.</p>
<a href="/login">Login</a>
<br>
<p>Thank you</p>

</body>

</html>
