<html lang="en">

<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="https://getbootstrap.com/favicon.ico">

	<title>Intrepid Control Systems</title>

	<!-- Bootstrap core CSS -->
	<!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
		integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link href="bower/alertify/css/alertify.css" rel="stylesheet">


	<!-- Custom styles for this template -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<style>
		@import url(https://fonts.googleapis.com/css?family=Roboto:400);

		body {
			background-color: #fff;
			-webkit-font-smoothing: antialiased;
			font: normal 14px Roboto, arial, sans-serif;
		}

		.center-div-custom {
			float: none;
			margin: 0 auto;
			padding: 25px;
		}

		.container {
			padding: 25px;
			position: fixed;
		}

		.form-login {
			background-color: #EDEDED;
			padding-top: 10px;
			padding-bottom: 20px;
			padding-left: 20px;
			padding-right: 20px;
			border-radius: 15px;
			border-color: #d2d2d2;
			border-width: 5px;
			box-shadow: 0 1px 0 #cfcfcf;
		}

		h4 {
			border: 0 solid #fff;
			border-bottom-width: 1px;
			padding-bottom: 10px;
			text-align: center;
		}

		.form-control {
			border-radius: 10px;
		}

		.wrapper {
			text-align: center;
		}

		.ajs-message {
			color: white !important;
		}

		.wrapper3 {
			margin-top: 8px;
			text-align: center;
		}
	</style>
	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css"> -->
</head>

<body ng-app="loginApp" class="">
	<div class="" ng-controller="loginController">
		<div class="col-md-3 col-sm-4 col-xs-8 center-div-custom">
			<div class="form-login">
				<form ng-submit="authenticate()">
					<h4>Login</h4>
					<input required type="text" ng-model="user.email" id="userName"
						class="form-control input-sm chat-input" placeholder="Email" autocomplete="off" />
					</br>
					<input type="password" ng-model="user.password" id="userPassword"
						class="form-control input-sm chat-input" placeholder="Password" autocomplete="off" />
					</br>
					<div class="wrapper">
						<span class="group-btn">
							<button type="submit" class="btn btn-success btn-md">login <i
									class="fa fa-sign-in"></i></button>
						</span>
					</div>
					<div class="wrapper3">
						<p><a href="/forgot-password">Forgot Password?</a></p>
					</div>
				</form>
			</div>

		</div>
	</div>
	<script>
		var loginAuthUrl = '/api/user/login-auth'
	</script>



	<!-- bower components start-->
	<script src="https://code.jquery.com/jquery-3.5.0.min.js"
		integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
		integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
		crossorigin="anonymous"></script>
	<script src="bower/angular/angular.js"></script>
	<script src="bower/alertify/alertify.js"></script>
	<script src="bower/angular-cookies/angular-cookies.js"></script>
	<!-- bower components end -->

	<!-- app controllers start-->
	<script src="/angular/controllers/login-ctrl.js"></script>
	<!-- app controllers end -->
</body>

</html>