<%- include header.ejs %>
<div data-ng-init="init('new')" ng-controller="ProductController">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-12">
            <h1>
                <strong>{{mode}} Product <span ng-if="product.ProductCode">({{product.ProductCode}})</span></strong>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <form ng-submit="saveProduct()" class="position-relative">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#basicInfo">Basic Info</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#pricingInfo">Pricing Info</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#productDetail">Product Detail</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#productImages">Product Images</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#productSEO">Product SEO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#packaging">Packaging</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#export">Export</a>
                    </li>
                </ul>
                <div class="d-flex justify-content-end">
                    <a title="Pricing Info" class="btn btnPrevious mr-2 mt-2">Previous</a>
                    <button type="submit" title="Save Product" class=" mr-2 mt-2 btn btn-success ">
                        Save</button>
                    <a title="Pricing Info" class="btn btn-info btnNext mr-2 mt-2">Next</a>
                </div>
                <a href="<%= frontStoreUrl %>/product/{{product.ProductCode}}" target="_blank"
                    class="btn btn-outline-primary btn-sm product-live">Live View</a>
                <div class="tab-content mt-4">
                    <div id="basicInfo" class="tab-pane fade show active">
                        <div class="row">
                            <div class="tab-min-height w-100">
                                <div class=" col-md-12 form-group">
                                    <h3>
                                        <strong>Basic Info</strong>
                                    </h3>
                                </div>
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-md-6 form-group">
                                            <label>Product Code</label>
                                            <input ng-disabled="productCodeDisabled" type="text" ng-pattern="ProductCodePattern"
                                                ng-model="product.ProductCode"
                                                class="custom-input uppercase form-control">
                                            <p class="explanation"> example: RAD-GALAXY</p>
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <label>Product Name</label>
                                            <input type="text" ng-model="product.ProductName"
                                                class="custom-input form-control">
                                            <p class="explanation"> compelete product name</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 form-group">
                                    <label>Product Description Short</label>
                                    <p class="explanation"> short description for pdf's</p>
                                    <!-- <textarea rows="5" ui-tinymce ng-model="product.ProductDescriptionShort"></textarea> -->
                                    <div style="margin-top: 10px" rows="2" ckeditor="options"
                                        ng-model="product.ProductDescriptionShort"></div>

                                </div>
                                <div class="col-md-12 form-group">
                                    <label>Product Description Detailed</label>
                                    <p class="explanation"> detailed description for store front</p>
                                    <div style="margin-top: 10px" rows="5" ckeditor="options"
                                        ng-model="product.ProductDescription"></div>
                                    <!-- <textarea style="margin-top: 10px" rows="5" ui-tinymce ng-model="product.ProductDescription"></textarea> -->
                                </div>
                                <div class="col-md-12 form-group">
                                    <label>Product categories</label>
                                    <select ng-style="{width: '100%' }" multiple ng-model="product.Categories"
                                        class="custom-input form-control" chosen
                                        ng-options="s.id as s.name for s in categories">
                                        <option value=""></option>
                                    </select>
                                    <p class="explanation"> chose all the categories product lies in</p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <a title="Pricing Info" class="btn btn-info btnNext pull-right">Next</a>
                                <button type="submit" title="Save Product" class="btn btn-success pull-right">
                                    Save</button>
                            </div>
                        </div>
                    </div>
                    <div id="pricingInfo" class="tab-pane fade">
                        <div class="row">
                            <div class="tab-min-height w-100">
                                <div class="col-md-12 form-group">
                                    <h3>
                                        <strong>Pricing Info</strong>
                                    </h3>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-3 form-group">
                                            <label> Price (USD)</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend"><span class="input-group-text">$</span>
                                                </div>
                                                <input type="number" aria-label="With textarea"
                                                    ng-model="product.ProductPrice" min="0.00" step="0.01"
                                                    class="custom-input form-control" placeholder="USD">
                                            </div>
                                            <p class="explanation"> price in united state dollars</p>
                                        </div>
                                        <div class="col-md-3 form-group">
                                            <label> Price (Yuan)</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend"><span class="input-group-text">Y</span>
                                                </div>
                                                <input type="number" ng-model="product.ProductPriceYuan" min="0.00"
                                                    step="0.01" class="custom-input form-control" placeholder="Yuan">
                                            </div>
                                            <p class="explanation"> price in Chinies Yuan</p>

                                        </div>
                                        <div class="col-md-3 form-group">
                                            <label> Price (Yen)</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend"><span class="input-group-text">¥</span>
                                                </div>
                                                <input type="number" ng-model="product.ProductPriceYen" min="0.00"
                                                    step="0.01" class="custom-input form-control" placeholder="Yen">
                                            </div>
                                            <p class="explanation"> price in Japanies Yen</p>

                                        </div>
                                        <div class="col-md-3 form-group">
                                            <label> Price (Euro)</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend"><span class="input-group-text">€</span>
                                                </div>
                                                <input type="number" ng-model="product.ProductPriceEuro" min="0.00"
                                                    step="0.01" class="custom-input form-control" placeholder="Euro">
                                            </div>
                                            <p class="explanation"> price in Japanies Yen</p>

                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-3 form-group">
                                            <label> Price (Pound)</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend"><span class="input-group-text">£</span>
                                                </div>
                                                <input type="number" ng-model="product.ProductPricePound" min="0.00"
                                                    step="0.01" class="custom-input form-control" placeholder="Pound">
                                            </div>
                                            <p class="explanation"> price in British Pound</p>
                                        </div>
                                        <div class="col-md-3 form-group">
                                            <label> Price (WON)</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend"><span class="input-group-text">₩</span>
                                                </div>
                                                <input type="number" ng-model="product.ProductPriceWON" min="0.00"
                                                    step="0.01" class="custom-input form-control" placeholder="WON">
                                            </div>
                                            <p class="explanation"> price in Korean WON</p>
                                        </div>
                                        <div class="col-md-3 form-group">
                                            <label> Price (INR)</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend"><span class="input-group-text">₹</span>
                                                </div>
                                                <input type="number" ng-model="product.ProductPriceINR" min="0.00"
                                                    step="0.01" class="custom-input form-control" placeholder="INR">
                                            </div>
                                            <p class="explanation"> price in Indian rupees</p>
                                        </div>
                                        <!-- <div class="col-md-3 form-group">
                                            <label> Discount</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend"><span class="input-group-text">%</span>
                                                </div>
                                                <input type="number" ng-model="product.Discount" min="0.00" step="0.01"
                                                    class="custom-input form-control" placeholder="Discount">
                                            </div>
                                        </div> -->
                                    </div>

                                </div>
                                <div class="col-md-12">
                                    <a title="Basic Info" class="btn btn-primary btnNext pull-right">Next</a>
                                    <button type="submit" title="Save Product" class="btn btn-success pull-right">
                                        Save</button>
                                    <a title="Pricing Info" class="btn btnPrevious pull-right">Previous</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="productDetail" class="tab-pane fade">
                        <div class="row">
                            <div class="tab-min-height w-100">
                                <div class="col-md-12 form-group">
                                    <h3>
                                        <strong>Product Detail</strong>
                                    </h3>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6 form-group">
                                            <label>Product Specification</label>
                                            <p class="explanation mb-2">detailed specification of product</p>
                                            <div style="margin-top: 10px" rows="2" ckeditor="options"
                                                ng-model="product.TechSpecs">
                                            </div>
                                            <!-- <textarea rows="5" ui-tinymce ng-model="product.TechSpecs"></textarea> -->
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <label>Product Above Pricing</label>
                                            <p class="explanation mb-2">above pricing description</p>
                                            <div style="margin-top: 10px" rows="2" ckeditor="options"
                                                ng-model="product.ProductDescription_AbovePricing"></div>

                                        <!-- <textarea rows="5" ui-tinymce ng-model="product.ProductDescription_AbovePricing"></textarea> -->
                                    </div>
                                    <div class="col-md-2 form-group cutom-checkbox">
                                        <label class="checkbox-inline" for="outOfStock">
                                            <input id="outOfStock" class="checkbox" type="checkbox" ng-model="product.HideWhenOutOfStock"> Out Of Stock Check
                                        </label>
                                        <p class="explanation">product will hide when out of stock</p>
                                    </div>
                                    <div class="col-md-2 form-group cutom-checkbox">
                                        <label class="checkbox-inline" for="productHide">
                                            <input id="productHide" class="checkbox" type="checkbox" ng-model="product.HideProduct"> Hide
                                        </label>
                                        <p class="explanation">hide on store front</p>
                                    </div>
                                    <div class="col-md-2 form-group cutom-checkbox">
                                        <label class="checkbox-inline" for="productActive">
                                            <input id="productActive" class="checkbox" type="checkbox" ng-model="product.IsActive"> Active
                                        </label>
                                        <p class="explanation">product mark active</p>
                                    </div>
                                    <div class="col-md-2 form-group cutom-checkbox">
                                        <label class="checkbox-inline" for="serialActive">
                                            <input id="serialActive" class="checkbox" type="checkbox" ng-model="product.isSerialAble"> Product Serialized?
                                        </label>
                                    </div>
                                    <div class="col-md-3 form-group cutom-checkbox">
                                        <label class="checkbox-inline" for="freeShippingActive">
                                            <input id="freeShippingActive" class="checkbox" type="checkbox" ng-model="product.IsFreeProduct"> Free Shipping
                                        </label>
                                        <p class="explanation">product is free</p>
                                    </div>
                                    <div class="col-md-2 form-group">
                                        <label>Shipping Availability</label>
                                        <select ng-style="{width: '100%' }" class="form-control" data-placeholder chosen ng-model="product.Availability" ng-options="s.name as s.name for s in shippingAvailablity">
                                            <option value=""></option>
                                        </select>
                                        <p class="explanation"> chose expected shipping period</p>
                                    </div>
                                    <div class="col-md-2 form-group">
                                        <label>Product Weight (lbs)</label>
                                        <input class="form-control" type="number" step="0.1" ng-model="product.ProductWeight">
                                        <p class="explanation"> product weight with all accessories </p>
                                    </div>
                                    <!-- <div class="col-md-2 form-group">
                                        <label>Harmonized Code</label>
                                        <input class="form-control" type="number" step="0.1" ng-model="product.HarmonizedCode">
                                    </div>
                                    <div class="col-md-2 form-group">
                                        <label>ECCN</label>
                                        <input class="form-control" type="number" step="0.1" ng-model="product.ExportControlClassificationNumber">
                                        <p class="explanation"> Export Control Classification Number </p>
                                    </div>
                                    <div class="col-md-2 form-group">
                                        <label for="UnitOfMeasure">Unit of Measure</label>
                                        <input type="text" id="UnitOfMeasure" class="form-control"
                                            placeholder="Unit of Measure" ng-model="product.UnitOfMeasure" />
                                    </div>
                                    <div class="col-md-2 form-group">
                                        <label for="CountryOfOrigin">Country of Origin</label>
                                        <select ng-model="product.CountryOfOrigin" id="CountryOfOrigin  " 
                                            chosen ng-options="c.code as c.name  for c in countries" class="form-control">
                                            <option value=""></option>
                                        </select>
                                    </div> -->

                                </div>
                                <!-- <div class="col-md-12">

                                    <div class="row">
                                        <div class="col-md-2 form-group cutom-checkbox">
                                            <label class="checkbox-inline" for="outOfStock">
                                                <input id="outOfStock" class="checkbox" type="checkbox"
                                                    ng-model="product.HideWhenOutOfStock"> Out Of Stock
                                                Check
                                            </label>
                                            <p class="explanation">product will hide when out of stock</p>
                                        </div>
                                        <div class="col-md-2 form-group cutom-checkbox">
                                            <label class="checkbox-inline" for="productHide">
                                                <input id="productHide" class="checkbox" type="checkbox"
                                                    ng-model="product.HideProduct"> Hide
                                            </label>
                                            <p class="explanation">hide on store front</p>
                                        </div>
                                        <div class="col-md-2 form-group cutom-checkbox">
                                            <label class="checkbox-inline" for="productActive">
                                                <input id="productActive" class="checkbox" type="checkbox"
                                                    ng-model="product.IsActive"> Active
                                            </label>
                                            <p class="explanation">product mark in active</p>
                                        </div>
                                        <div class="col-md-3 form-group">
                                            <label>Shipping Availability</label>
                                            <select ng-style="{width: '100%' }" class="form-control" data-placeholder
                                                chosen ng-model="product.Availability"
                                                ng-options="s.name as s.name for s in shippingAvailablity">
                                                <option value=""></option>
                                            </select>
                                            <p class="explanation"> chose expected shipping period</p>
                                        </div>
                                        <div class="col-md-3 form-group">
                                            <label>Product Weight (lbs)</label>
                                            <input class="form-control" type="number" step="0.1"
                                                ng-model="product.ProductWeight">
                                            <p class="explanation"> product weight with all accessories </p>
                                        </div>
                                    </div>
                                </div> -->
                                <div class="col-md-12 form-group">
                                    <label>Free Accessories</label>
                                    <select ng-style="{width: '100%' }" multiple ng-model="product.FreeAccessoriesArray"
                                        class="form-control" chosen ng-options="s.name as s.name for s in products">
                                        <option value=""></option>
                                    </select>
                                    <a data-target="#accessoriesQty" data-toggle="modal" href="#accessoriesQty">Set
                                        Quantity of Free Accessories</a>
                                    <p class="explanation mb-2"> chose all the free accessories with
                                        product</p>
                                </div>
                                <div class="col-md-12 form-group pdf">

                                    <label>Product Manuals</label>
                                    <p class="explanation">product manulas and detail urls</p>
                                    <div style="margin-top: 10px" rows="2" ckeditor="options"
                                        ng-model="product.ProductDetailURL"></div>
                                    <!-- <div ngf-multiple="true" ngf-drop ngf-select="fileSelect()" ng-model="pdfFiles" class="dropzone cursorPointer" ngf-drag-over-class="'dragover'"
                                            ngf-allow-dir="true" accept="application/pdf" ngf-pattern="'application/pdf'">
                                            <div class="msg">Drag and drop pdf files here or click to upload for product manuals</div>
                                        </div> -->
                                </div>
                                <div class="col-md-12 form-group">
                                    <!-- <label>Enter Manual Title</label>
                                        <p class="explanation"> these names will apear on store front as link name, example "RAD-GALAXY Manual","RAD-GALAXY
                                            Specifications" and "RAD-GALAXY Details"</p> -->
                                    <div ng-if="uploadedPdfs">
                                        <div class="pdf-list row">
                                            <div style="margin-top: 15px;" class="col-lg-4 text-center"
                                                ng-repeat="f in uploadedPdfs">
                                                <!-- <object data="{{'/files/pdfs/'+f.URL}}" type="application/pdf">
                                                    <iframe src="https://docs.google.com/viewer?url=your_url_to_pdf&embedded=true"></iframe>
                                                </object> -->
                                                <iframe type="application/pdf"
                                                    ng-src="{{'/files/pdfs/'+f.URL}}"></iframe>
                                                <h3>{{f.Name}}</h3>
                                                <div ng-click="removePdf('server',$index)" class="topright">
                                                    <i class="fa fa-times-circle fa-2x"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-if="pdfFiles">
                                        <div class="pdf-list row">
                                            <div style="margin-top: 15px;" class="col-lg-4" ng-repeat="f in pdfs">
                                                <iframe ngf-src="f.file"></iframe>
                                                <label>Title for PDF</label>
                                                <input type="text" placeholder="Title for PDF" ng-model="f.Name"
                                                    class="form-control">
                                                <div ng-click="removePdf('local',$index)" class="topright">
                                                    <i class="fa fa-times-circle fa-2x"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <a title="Basic Info" class="btn btn-primary btnNext pull-right">Next</a>
                                <button type="submit" title="Save Product" class="btn btn-success pull-right">
                                    Save</button>
                                <a title="Pricing Info" class="btn btn-default btnPrevious pull-right">Previous</a>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div id="productImages" class="tab-pane fade">
                        <div class="row">
                            <div class="tab-min-height col-md-12">
                                <div class="col-md-12 form-group">
                                    <h3>
                                        <strong>Product Images</strong>
                                    </h3>
                                </div>
                                <div class="col-md-12 form-group">
                                    <p class="explanation mb-2"> Please Upload 900x900px graphics, jpg, jpeg, png, gif.</p>
                                    <div ngf-multiple="true" ngf-drop ngf-select ng-model="files" ngf-keep="true" ngf-dimensions= "$width == 900 && $height == 900"
                                        class="dropzone cursorPointer col-md-12" ngf-drag-over-class="'dragover'" ngf-change="upload($invalidFiles, files)"
                                        ngf-allow-dir="true" accept="image/*" ngf-pattern="'image/*'">
                                        <div class="msg">Drag and drop images here or click to
                                            upload</div>
                                           
                                    </div>
                                    <div class="col-md-12 form-group" data-as-sortable="dragControlListeners" data-ng-model="uploadedImages">
                                        <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                                        <div ng-if="uploadedImages">
                                            <div class="img-list row">
                                                <div class="col-lg-2" ng-repeat="f in uploadedImages | orderBy:DisplayOrder" ng-if="f.IsThumb === 0" data-as-sortable-item>
                                                    <div data-as-sortable-item-handle>
                                                    <img class="img-thumbnail custom-thumb" alt="Image not found" ng-src="{{'/files/images/'+f.ImageURL}}"> {{f.name}}
                                                    <input type="radio" name="title-image" ng-model="product.TitleImage" value="{{f.ImageURL}}"> Make Title Image
                                                    <div ng-click="removeImage('server',$index)" class="topright">
                                                        <i class="fa fa-times-circle fa-2x"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                        <div ng-if="files">
                                            <div class="img-list row">
                                                <div class="col-lg-2" ng-repeat="f in files" >
                                                    <img class="img-thumbnail custom-thumb" id="image" ngf-src="f">
                                                    <!-- <input type="radio" name="title-image" ng-model="product.TitleImage" value="{{f.name}}"> Make Title Image -->
                                                    <div ng-click="removeImage('local',$index)" class="topright">
                                                        <i class="fa fa-times-circle fa-2x"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                   
                                </div>
                            </div>
                            <div class="col-md-12">
                                <a title="Product SEO" class="btn btn-primary btnNext pull-right">Next</a>
                                <button type="submit" title="Save Product" class="btn btn-success pull-right">
                                    Save</button>
                                <a title="Pricing Detail" class="btn btn-default btnPrevious pull-right">Previous</a>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div id="productSEO" class="tab-pane fade">
                        <div class="row">
                            <div class="tab-min-height w-100">
                                <div class="col-md-12 form-group">
                                    <h3>
                                        <strong>SEO Section</strong>
                                    </h3>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-4 form-group">
                                            <label>Meta Tag Keywords </label>
                                            <input type="text" ng-model="product.METATAG_Keywords"
                                                class="custom-input form-control">
                                            <p class="explanation"> use comma separated meta tag keywords
                                            </p>
                                        </div>
                                        <div class="col-md-4 form-group">
                                            <label>Meta Tag Description</label>
                                            <input type="text" ng-model="product.METATAG_Description"
                                                class="custom-input form-control">
                                            <p class="explanation"> meta tag description</p>
                                        </div>
                                        <div class="col-md-4 form-group">
                                            <label>Priority Index </label>
                                            <input type="text" ng-model="product.PriorityIndex"
                                                class="custom-input form-control">
                                            <p class="explanation"> product priority index (#1 is highest)
                                            </p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-12 form-group">
                                <a title="Product Packaging" class="btn btn-primary btnNext pull-right">Next</a>
                                <button type="submit" title="Save Product" class="btn btn-success pull-right">
                                    Save</button>
                                <a title="Pricing Images" class="btn btn-default btnPrevious pull-right">Previous</a>
                            </div>
                        </div>
                    </div>
                    <div id="packaging" class="tab-pane fade">
                        <div class="row">
                            <div class="tab-min-height w-100">
                                <div class="col-md-12 form-group">
                                    <h3>
                                        <strong>Product Packaging</strong>
                                    </h3>
                                </div>
                                <div ng-repeat="package in productPackaging">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-3 form-group">
                                                <label> Box Size (inches)</label>
                                                <!-- <input type="text" ui-mask="99x99x99" placeholder="10x10x10" ui-mask-placeholder-char="x" ng-model="package.dimensions" class="form-control"> -->
                                                <select ng-model="package.dimensions" class="custom-input form-control">
                                                    <option value="{{box.length}} x {{box.width}} x {{box.height}}"  ng-repeat="box in productPackagingBox">
                                                        {{box.length}} x
                                                        {{box.width}} x {{box.height}}</option>
                                                </select>
                                                <p class="explanation"> format: Length x Width x Height</p>
                                            </div>
                                            <div class="col-md-3 form-group">
                                                <label> Product Quantity</label>
                                                <input type="number" ng-model="package.quantity"
                                                    class="custom-input form-control">
                                                <p class="explanation"> quantity that can fit into the given
                                                    box
                                                    dimensions
                                                </p>
                                            </div>
                                            <div class="col-md-2 form-group " style="padding-top: 20px;">
                                                <span class="pull-right">
                                                    <button type="button" class="btn btn-danger btn-sm  pull-right"
                                                        ng-if="!($first && $last)" ng-click="removeBox($index)"><i
                                                            class="fa fa-times"></i> Remove</button>
                                                    <button type="button" class="btn btn-primary btn-sm  pull-right"
                                                        ng-if="$last" ng-click="addModeBoxes()"><i
                                                            class="fa fa-plus"></i>
                                                        Add</button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 form-group">
                                <a title="Basic Info" class="btn btn-primary btnNext pull-right">Next</a>
                                <button type="submit" title="Save Product" class="btn btn-success pull-right">
                                    Save</button>
                                <a title="Product SEO" class="btn btn-default btnPrevious pull-right">Previous</a>
                            </div>
                        </div>
                    </div>
                    <div id="export" class="tab-pane fade">
                        <div class="row">
                            <div class="tab-min-height w-100">
                                <div class="col-md-12 form-group">
                                    <h3>
                                        <strong>Export Details</strong>
                                    </h3>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-2 form-group">
                                            <label for="ExportDescription">Export Description</label>
                                            <input type="text" id="ExportDescription" class="form-control"
                                                placeholder="Export Description" ng-model="product.ExportDescription" />
                                        </div>
                                        
                                        <div class="col-md-2 form-group">
                                            <label>Harmonized Code</label>
                                            <input class="form-control" ng-change="maxTenNumericValidation()" type="text"  ng-model="product.HarmonizedCode">
                                        </div>
                                        <div class="col-md-2 form-group">
                                            <label>ECCN</label>
                                            <input class="form-control" ng-change="maxFiveAlphaNumericValidation()" type="text"  ng-model="product.ExportControlClassificationNumber">
                                            <p class="explanation"> Export Control Classification Number </p>
                                        </div>
                                        <div class="col-md-2 form-group">
                                            <label for="UnitOfMeasure">Unit of Measure</label>
                                            <input type="text" id="UnitOfMeasure" class="form-control"
                                                placeholder="Unit of Measure" ng-model="product.UnitOfMeasure" />
                                        </div>
                                        <div class="col-md-2 form-group">
                                            <label for="CountryOfOrigin">Country of Origin</label>
                                            <select ng-model="product.CountryOfOrigin" id="CountryOfOrigin  " 
                                                chosen ng-options="c.code as c.name  for c in countries" class="form-control">
                                                <option value=""></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 form-group">
                                <button type="submit" title="Save Product" class="btn btn-success pull-right">
                                    Save</button>
                                <a title="Product SEO" class="btn btn-default btnPrevious pull-right">Previous</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div id="accessoriesQty" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Free Accessories Quantity</h4>
                </div>
                <div class="modal-body">
                    <div class="row" ng-repeat="f in freeAccessories">
                        <div class="col-md-6 text-right">{{f.code}}</div>
                        <div class="col-md-6"><input type="number" ng-model="f.qty" class="form-control"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Confirm</button>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include footer.ejs %>