<%- include header.ejs %>
<div ng-controller="SettingsController">

    <div class="row">
        <div class="col-md-6">
            <h2>Settings</h2>
        </div>
    </div>


    <form ng-submit="save()" class="w-100">
        <!-- <div class="row">
        <div class="col-lg-12"> -->


        <div class="row">
            <div class="col-md-3 form-group">
                <label>UPS Percentage <span class="text-danger">*</span></label>
                <input required type="text" ng-model="settings.upsPercentage" class="custom-input form-control">
                <!-- </div>
        </div> -->
            </div>
            <!-- <div class="row">
        <div class="col-lg-12"> -->
            <div class="col-md-3 form-group">
                <label>UPS Offset<span class="text-danger">*</span></label>
                <input required type="text" ng-model="settings.upsOffset" class="custom-input form-control">
                <!-- </div>
        </div> -->
            </div>
            <div class="col-md-3 form-group">
                <label>DHL Percentage<span class="text-danger">*</span></label>
                <input required type="text" ng-model="settings.dhlPercentage" class="custom-input form-control">
                <!-- </div>
        </div> -->
            </div>
            <div class="col-md-3 form-group">
                <label>DHL Offset<span class="text-danger">*</span></label>
                <input required type="text" ng-model="settings.dhlOffset" class="custom-input form-control">
                <!-- </div>
        </div> -->
            </div>
        </div>
        <!-- <div class="row">
        <div class="col-lg-12"> -->


        <div class="row">
            <div class="col-md-12 form-group">
                <button type="submit" title="{{updateFlag? 'Update Settings': 'Save Settings'}}"
                    class="btn {{updateFlag? 'btn-primary': 'btn-success'}} pull-right">{{updateFlag? 'Update': 'Save'}}</button>
            </div>
        </div>

    </form>
</div>
<%- include footer.ejs %>