@import "../../../assets/styles/variables.scss";
.tabbed-icon:focus{
    outline: none;
}
.header {
    background-color: $white;
    position: relative;
    height: 4em;
    .notice{
        .notification-counter {   
            position: absolute;
            top: 0px;
            background-color: rgba(212, 19, 13, 1);
            color: #fff;
            border-radius: 50%;
            padding: 0px 4px;
            font: 8px Verdana;
        }
    }
    .header-wrapper{
        bottom: 10px;
        .curser-pointer{
            cursor: pointer;
        }
        .logo{
            margin-top: -.8em;
        }
    }
    
    #dropdown-button-drop-up{
        font-size: 12px;
        font-weight: 600; 
        
    }
    .dropdown-item {
        font-size: 12px;
        font-weight: 600;
        &:hover{
            background-color: rgba(0, 110, 183, 0.1);
            color:$blue-text;
            border-bottom-left-radius: 7px;
            border-bottom-right-radius: 7px;
        }
        
    }
    .first-item{
        font-size: 12px;
        color: $blue-text;
        background-color: rgba(0, 110, 183, 0.1);
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;

        &:hover{
            background-color: rgba(0, 110, 183, 0.1);
            color:$blue-text;
            border-bottom-left-radius: 7px;
            border-bottom-right-radius: 7px;
        }
    }
    .last-item{
        font-size: 12px;
        color: $light-green;
        &:hover{
            background-color: rgba(0, 110, 183, 0.1);
            color:$blue-text;
            border-bottom-left-radius: 7px;
            border-bottom-right-radius: 7px;
        }
    }
}
#explore{
    margin-left: -70px;
    text-align: center;
    margin-top: 8px;
    font-size: 12px;
    font-weight: 600;
    color: $lighten-blue;
    &:hover{
        color: $blue;
    }
    
}

  .profilemenu {
    text-align: center;
    background-color: $white;
    border-radius: 5px;
    width: 10rem;
    margin-left: -25px;
    margin-top: 25px;
    z-index: 9999;
    .menu {
        border-radius: 2px;
        padding: 5px 10px;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
        &:hover{
            background-color: rgba(0, 110, 183, 0.1);
            color:$blue-text;
            border-bottom-left-radius: 7px;
            border-bottom-right-radius: 7px;
        }
        
    }
  }
  